{% extends "form.html" %}

{% block head %} History {% endblock %}

{% block heading %} Enter the college history {% endblock %}

                                                                                                          
                                                                                                             
                                                                                                             
                                                                                                            
                                                                             
