{% extends "form.html" %}

{% block head %} Mission {% endblock %}

{% block heading %} Mission of the College {% endblock %}

                                                                                                          
                                                                                                             
                                                                                                             
                                                                                                            
                                                                             
